{
  "presets": [
    [
      "@babel/preset-env", {
        "targets": ["last 2 versions", "ie >= 10"],
        "modules": false,
        "useBuiltIns" : "entry",
      }
    ]
  ],
  "env": {
    "test": {
      "presets": [
        ["@babel/env", { "targets": { "node": "current" }}]
      ]
    }
  }
}